<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xh.mysite.reposiroty.ArticleDAO">

<!--    <insert id="batchInsert" parameterType="list">-->
<!--        insert into tbl_article(article_id,title,summary,content) values-->
<!--        <foreach collection="articles" item="article">-->
<!--            (#{articleId},#{title},#{summary},#{content})-->
<!--        </foreach>-->
<!--    </insert>-->


</mapper>